/* Footer */
.footer {
  background-color: hsl(192, 100%, 9%);
  color: white;
  gap: 60px;
  justify-content: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
}

.footInfo {
  display: flex;
  gap: 20px;
}

.left-section h2 {
  font-size: 24px;
  text-transform: capitalize;
  color: #FFC107;
}

.right-section {
  padding: 10px;
  border-left: 2px solid black;
  margin-top: 15px;
}

.about-us,
.why-choose-us {
  padding: 10px;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.email,
.phone,
.whatsapp {
  display: flex;
  align-items: center;
  gap: 20px;
}

.email img,
.phone img,
.whatsapp img {
  width: 20px;
  height: 20px;
}

.hero-section {
  display: flex;
  flex-direction: column;
}

.footer .foot {
  background-color: #140e0e;
  padding: 20px;
  display: flex;
  justify-content: center;
  font-size: larger;
  color: #fff;
}

/* Slider Radio Buttons */
.slider-radio-buttons {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.slider-radio {
  width: 15px;
  height: 15px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.slider-radio:checked {
  background-color: white;
}

.brand-list {
  overflow: hidden;
}

.card-container h1 {
  margin: 0%;
  font-size: 1.6rem;
}

/* Responsive Design */
@media (max-width: 600px) {

  /* Adjustments for smaller screens */
  .lucky-details {
    display: none;
  }



  .home-image {
    display: block;
  }

  .brands {
    top: 95%;
  }

  .category-list {
    grid-template-columns: 1fr 1fr;
    padding: 20px 3px;
    gap: 8px;
  }

  .category-button {
    padding: 4px 6px;
  }

  .category-item p {
    font-size: 10px;
    text-align: left;
  }

  .brand-list-items {
    display: flex;

    animation: moveLeftbra 20s ease-in-out infinite;

  }

  .brand-logo {
    width: 80px;
  }

  .category-item h3 {
    font-size: 14px;
    margin-bottom: 2px;
  }

  .promo-banner {
    padding: 2px;
  }

  .category-item {
    width: 100%;
    padding: 6px;

  }



  .slider-radio-buttons {
    bottom: 10px;
  }

  .footer {
    display: grid;
    grid-template-columns: 1fr;
  }

  .hero-section h1 {
    font-size: 1.5rem;
  }

  .left-section {
    width: 100%;
    padding: 10px;
  }

  .about-section {
    padding: 30px;
  }
}



.foot {
  background-color: #555;
}

.footer-p {
  text-align: center;
  color: #fff;
}

@media (max-width: 800px) {

  /* Adjustments for smaller screens */
  .lucky-details {
    display: none;
  }

  .home-image {
    display: block;
  }

  .category-list {
    grid-template-columns: 1fr 1fr;
    padding: 20px 3px;
    gap: 8px;
  }

  .category-button {
    padding: 4px 6px;
  }

  .category-item p {
    font-size: 10px;
    text-align: left;
  }

  .brand-list-items {
    display: flex;

    animation: moveLeftbra 20s ease-in-out infinite;

  }

  .brand-logo {
    width: 80px;
  }

  .category-item h3 {
    font-size: 14px;
    margin-bottom: 2px;
  }



  .category-item {
    width: 100%;
    padding: 6px;

  }



  .slider-button,
  .slider-button1 {
    width: 40px;
    height: 40px;
  }

  .slider-radio-buttons {
    bottom: 10px;
  }

  .footer {
    display: grid;
    grid-template-columns: 1fr;
  }

  .hero-section h1 {
    font-size: 1.3rem;
    color: cornsilk;

  }

  .promo-banner p {
    font-size: .8rem;
  }

  .left-section {
    width: 100%;
    padding: 10px;
  }

  .about-section {
    padding: 30px;
  }
}

.offers-list {
  display: flex;
  justify-content: space-around;



}

.offers-list .offer {

  text-decoration: none;
  width: auto;
  padding: 5px 5px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
  background-color: #25fa3e;
  transform: 0.5s linear;
}

.offers-list .offer:hover {
  background-color: #31f43ec8;
}

@media (max-width: 600px) {
  .offers-list .offer {
    width: 100%;
    padding: 4px;
    font-size: 0.7rem;
  }
}