.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 24px;
    background: #fff;
    border-bottom: 1px solid #eee;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    text-decoration: none;
    color: #111;
}

.logo img {
    height: 60px;
}

.logo span {
    font-size: x-large;
}

.centre {
    display: flex;
}

.header-center {
    display: flex;
    gap: 16px;
    flex: 1;
    justify-content: center;
}

.category-btn {
    padding: 8px;
    color: black;
    font-weight: 400;
    background-color: #f9f9f9;
    cursor: pointer;
}

.category-btn:hover {
    background-color: #eee;
    box-shadow: 1px 0px 8px 1px rgba(0, 0, 0, 0.536);
}

.category-dropdown {
    position: absolute;
    background: #fff;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    margin-top: 6px;
    border-radius: 6px;
    width: 220px;
}

.category-item {
    text-align: start;
    padding: 5px 10px;
    cursor: pointer;
    justify-content: left;
}

.category-item:hover {
    background: #f5f5f5;
}





.header-right {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header-right a {
    text-decoration: none;
    padding: 8px 12px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.header-right a:hover {
    background-color: #eee;
    box-shadow: 1px 0px 8px 1px rgba(0, 0, 0, 0.536);
}

.cart {
    position: relative;
}

.cart-badge {
    position: absolute;
    top: -6px;
    right: -10px;
    background: red;
    color: #fff;
    font-size: 10px;
    padding: 2px 6px;
    border-radius: 50%;
}

.user-menu {
    position: relative;
}

.user-dropdown {
    display: none;
    position: absolute;
    right: 0;
    background: #fff;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.user-menu:hover .user-dropdown {
    display: block;
}

.hamburger {
    display: none;
    cursor: pointer;
}

@media (max-width: 768px) {

    .header-center,
    .header-right a {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .mobile-menu {
        position: fixed;
        top: 70px;
        left: 0;
        width: 100%;
        background: #fff;
        display: flex;
        flex-direction: column;
        padding: 20px;

        transform: rotateY(90deg);
        transform-origin: top;
        transition: transform 0.4s ease, opacity 0.3s ease;
        opacity: 0;
        pointer-events: none;
    }

    .mobile-menu.open {
        transform: rotateY(0deg);
        opacity: 1;
        pointer-events: auto;
    }

    .mobile-menu a {
        text-decoration: none;
        background-color: #f9f9f9;
        margin: 2px;
        padding: 2px 8px;
        border-radius: 8px;
    }

    .mobile-menu a:first-child {
        border-color: #333;
        background-color: #ff9800;
    }

    .mobile-menu a:hover {
        background-color: #eee;
        box-shadow: 1px 0px 8px 1px rgba(0, 0, 0, 0.536);
    }
}

/* WRAPPER */
.header-wrapper {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: #fff;
}

/* SUB HEADER */
.sub-header {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 8px 0;
    background: #f9f9f9;
    border-bottom: 1px solid #eee;
    font-size: 14px;

    opacity: 0;
    transform: translateY(-5px);
    pointer-events: none;
    transition: all 0.25s ease;

}

.sub-header.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    display: flex;
}

.sub-header a {
    text-decoration: none;
    color: #333;
}

.sub-header a:hover {
    color: #ff9800;
}

/* MOBILE */
@media (max-width: 768px) {
    .sub-header {
        display: none;
    }
}