.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 24px;
    background: #fff;
    border-bottom: 1px solid #eee;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    text-decoration: none;
    color: #111;
}

.logo img {
    height: 60px;
}

.logo span {

    background-clip: text;
    background-image: linear-gradient(#428fe7, #8f1e3c);
    background-size: cover;
    color: #0000;
    cursor: pointer;
    font-family: Roboto, sans-serif;
    font-size: 30px;
    font-weight: 600;
    padding: 0;
    text-transform: capitalize;
}

.centre {
    display: flex;
}

.header-center {
    display: flex;
    gap: 16px;
    flex: 1;
    justify-content: center;
}

.category-btn {
    padding: 8px;
    color: black;
    font-weight: 400;
    background-color: #f9f9f9;
    cursor: pointer;
}

.category-btn:hover {
    background-color: #eee;
    box-shadow: 1px 0px 8px 1px rgba(0, 0, 0, 0.536);
}

.category-dropdown {
    position: absolute;
    background: #fff;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    margin-top: 6px;
    border-radius: 6px;
    width: 220px;
}

.category-item {
    text-align: start;
    padding: 5px 10px;
    cursor: pointer;
    justify-content: left;
}

.category-item:hover {
    background: #f5f5f5;
}





.header-right {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header-right a {
    text-decoration: none;
    padding: 8px 15px;
    background-color: #ffffff;
    border-radius: 8px;
    color: #333;
}

.header-right a:hover {
    transform: translateY(-2px);
    background-color: #f1f1f1d9;
    color: #ff9800;

}

.cart {
    padding: 0;
    position: relative;

}


.cart img {
    transition: transform 0.2s ease;
}

.cart-badge {
    position: absolute;
    top: 4px;
    right: 6px;
    background: red;
    color: #fff;
    font-size: 10px;
    padding: 2px 6px;
    border-radius: 50%;
}

.cart:hover .cart-badge {
    background: darkred;
}

.user-menu {
    position: relative;
}

.mobile-menu {
    display: none;
}

.user-dropdown {
    display: none;
    position: absolute;
    right: 0;
    background: #fff;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.user-menu:hover .user-dropdown {
    display: block;
}

.hamburger {
    display: none;
    cursor: pointer;
}

@media (max-width: 768px) {

    .header-center,
    .header-right a {
        display: none;
    }

    .hamburger {
        display: block;
        font-size: 26px;
        cursor: pointer;
    }

    .mobile-menu {
        position: fixed;
        top: 70px;
        left: 0;
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;

        background: rgba(255, 255, 255, 0.95);
        backdrop-filter: blur(10px);

        transform: translateY(-20px);
        opacity: 0;
        visibility: hidden;

        transition: all 0.3s ease;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    }

    .mobile-menu.open {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }

    .mobile-menu a {
        text-decoration: none;
        padding: 4px 12px;
        margin-bottom: 3px;
        border-radius: 2px;
        background: #f5f5f5;
        font-weight: 500;
        color: #333;
        transition: all 0.5s ease;
    }

    .mobile-menu a:hover {
        background: #ff9800;
        color: #fff;
        transform: translateX(5px);
    }



}

.mobile-menu {
    will-change: transform, opacity;
}




/* WRAPPER */
.header-wrapper {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: #fff;
}

/* SUB HEADER */
.sub-header {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 8px 0;
    background: #f9f9f9;
    border-bottom: 1px solid #eee;
    font-size: 14px;

    transform: translateY(-5px);
    pointer-events: none;
    transition: all 0.25s ease;

}

.sub-header.show {

    transform: translateY(0);
    pointer-events: auto;
    display: flex;
}

.sub-header a {
    text-decoration: none;
    color: #333;
}

.sub-header a:hover {
    color: #ff9800;
}